.block1 {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

.block1__child {
  position: relative;
  padding: 20px 30px;
  text-align: center;
  border: 2px solid red;
}

.block1__child span:before {
  content: attr(data-num);
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.block1__child:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 2px solid green;
}

@media (min-width: 1025px) {
  .block1__child {
    margin-top: -2px;
  }
  .block1__child:nth-child(odd) {
    margin-right: 22px;
    padding-right: 10px;
    border-right: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .block1__child:nth-child(odd) span:before {
    right: calc(100% + 20px);
  }
  .block1__child:nth-child(odd):after {
    right: calc(100% - 11px);
  }
  .block1__child:nth-child(even) {
    margin-left: 22px;
    padding-left: 10px;
    border-left: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  .block1__child:nth-child(even) span:before {
    left: calc(100% + 20px);
  }
  .block1__child:nth-child(even):after {
    left: calc(100% - 11px);
  }
  .block1__child:first-of-type {
    border-top: none;
    border-right: none;
  }
  .block1__child:first-of-type:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    width: 20px;
    height: 50%;
    background-color: #fff;
  }
  .block1__child:last-of-type {
    border-bottom: none;
  }
  .block1__child:last-of-type:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 50%;
    background-color: #fff;
  }
  .block1__child:last-of-type:nth-child(odd) {
    border-right: none;
  }
  .block1__child:last-of-type:nth-child(odd):before {
    bottom: 0px;
    left: -2px;
  }
  .block1__child:last-of-type:nth-child(even) {
    border-left: none;
  }
  .block1__child:last-of-type:nth-child(even):before {
    bottom: 0px;
    right: -2px;
  }
}

@media (max-width: 1024px) {
  .block1__child {
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
  .block1__child span:before {
    right: calc(100% + 20px);
  }
  .block1__child:after {
    right: calc(100% - 11px);
  }
  .block1__child:first-of-type:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    width: 20px;
    height: 50%;
    background-color: #fff;
  }
  .block1__child:last-of-type:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -2px;
    width: 20px;
    height: 50%;
    background-color: #fff;
  }
}
